.usersDetail {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.usersDetail table {
  width: 100%;
  border-collapse: collapse;
}

.usersDetail table thead tr th,
.usersDetail table thead tr td,
.usersDetail table tbody tr td {
  text-align: left;
  width: 20%;
  font-size: 1rem;
  padding: 8px;
  margin-right: 2rem;
}

.usersDetail table tr {
  border-bottom: 1px solid lightgray;
  height: 45px;
  box-sizing: border-box;
}

.selectedRow {
  background-color: lightgray;
  color: black;
  border-bottom: 1px solid black !important;
}

.userInput {
  height: 42px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1rem;
  background-color: inherit;
  padding: 8px;
  color: inherit;
}

.userInput:focus {
  outline: none;
}
