.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.usersTable thead tr th,
.usersTable thead tr td {
  text-align: left;
  width: 20%;
  font-size: 1rem;
}

.usersTable tr {
  border-bottom: 1px solid lightgray;
  height: 45px;
  box-sizing: border-box;
}

.selectedRow {
  background-color: lightgray;
  color: black;
  border-bottom: 1px solid black !important;
}

.userInput {
  height: 42px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1rem;
  background-color: inherit;
  padding: 8px;
  color: inherit;
}

.userInput:focus {
  outline: none;
}
